<div fxLayout="column" fxLyoutAlign="start center">
  <ng-container *ngIf="!order.customer">
    <p>Ingresá tu número de teléfono</p>
    <mat-form-field>
      <mat-label>Teléfono</mat-label>
      <input
        matInput
        autocomplete="off"
        (input)="findCustomerByPhone($event.target.value)"
        inputmode="numeric"
        pattern="[0-9]*"
        digitOnly
      />
      <mat-hint>cod. area + número, si es celular sin 15. ej: 2616655577</mat-hint>
    </mat-form-field>
  </ng-container>

  <ng-container *ngIf="order.customer && !editingAddress">
    <p>{{ order.customer.phone }}</p>
    <p>
      Hola {{ order.customer.firstName }}!<br />
      Vamos a enviar tu pedido a<br />
      {{ order.customer.address }}, {{ order.customer.city }}
    </p>
    <a class="edit-customer-link" href="javascript:void(0)" (click)="showEditCustomerAddressForm()">
      Modificar domicilio
      <mat-icon class="edit-customer-icon" color="accent">edit</mat-icon>
    </a>
  </ng-container>

  <ng-container *ngIf="editingAddress">
    <p>{{ order.customer.firstName }}, decinos dónde querés recibir tu pedido:</p>
    <div fxLayout="column" fxLayoutGap="16px" [formGroup]="customerForm">
      <mat-form-field>
        <mat-label>Dirección</mat-label>
        <input matInput autocomplete="off" formControlName="address" />
        <mat-hint>Calle, número, piso y departamento</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Localidad</mat-label>
        <mat-select autocomplete="off" formControlName="city">
          <mat-option *ngFor="let department of departments" [value]="department">
            {{ department }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button (click)="cancelEditCustomerAddress()">Cancelar</button>
        <button mat-button color="primary" (click)="editCustomerAddress()" [disabled]="customerForm.invalid">
          Aceptar
        </button>
      </div>
    </div>
  </ng-container>
</div>
