<ng-container *ngIf="showLogin">
  <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="16px">
    <nap-customer-login></nap-customer-login>
    <a href="javascript:void(0)" (click)="register()"> Registrarme </a>
  </div>
</ng-container>

<ng-container *ngIf="order?.customer && !editingAddress">
  <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="8px">
    <p>{{ order.customer.firstName }}, vamos a enviar tu pedido a:</p>
    <p>
      {{ order.customer.address }}, {{ order.customer.city }}
      <a href="javascript:void(0)" (click)="showEditCustomerAddressForm()">
        <mat-icon class="edit-customer-icon" color="accent">edit</mat-icon>
      </a>
    </p>

    <a href="javascript:void(0)" (click)="logout()">¿No eres {{ order.customer.firstName }}? Cerrar Sesión </a>
  </div>
</ng-container>

<ng-container *ngIf="editingAddress">
  <nap-customer-edit-address></nap-customer-edit-address>
</ng-container>

<ng-container *ngIf="creatingCustomer">
  <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="8px">
    <nap-customer-create></nap-customer-create>
  </div>
</ng-container>
