<form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
  <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="0 0 380px" style="padding: 0 20px;">
    <p class="text-center">Necesitamos tus datos para poder enviarte <br />las + ricas pizzas!</p>

    <div fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="start stretch" fxLayoutGap.gt-md="8px">
      <mat-form-field appearance="standard">
        <mat-label>Nombre</mat-label>
        <input matInput autocomplete="off" formControlName="firstName" required />
        <mat-error matErrorMessages></mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard" fxFlex>
        <mat-label>Apellido</mat-label>
        <input matInput autocomplete="off" formControlName="lastName" required />
        <mat-error matErrorMessages></mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign.gt-md="start stretch" fxLayoutGap.gt-md="8px">
      <mat-form-field appearance="standard" fxFlex>
        <mat-label>Correo electrónico</mat-label>
        <input matInput type="email" autocomplete="off" formControlName="email" required />
        <mat-error matErrorMessages></mat-error>
      </mat-form-field>

      <div
        fxFlex
        fxFlex.gt-md="50%"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="8px"
        formGroupName="phone"
      >
        <mat-form-field appearance="standard" fxFlex="40%">
          <input
            matInput
            autocomplete="off"
            formControlName="areaCode"
            (input)="onPhoneInput()"
            inputmode="tel"
            placeholder="Cod. Área"
          />
        </mat-form-field>
        <mat-form-field appearance="standard" fxFlex="60%">
          <mat-label>Teléfono</mat-label>
          <input matInput autocomplete="off" formControlName="localNumber" (input)="onPhoneInput()" inputmode="tel" />
          <mat-error matErrorMessages></mat-error>
        </mat-form-field>
      </div>
    </div>
    <ng-container formGroupName="address">
      <div fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="start stretch" fxLayoutGap.gt-md="8px">
        <mat-form-field appearance="standard">
          <mat-label>Calle</mat-label>
          <input matInput autocomplete="off" formControlName="street" required />
          <mat-error matErrorMessages></mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Número</mat-label>
          <input matInput autocomplete="off" formControlName="number" required />
          <mat-error matErrorMessages></mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="start stretch" fxLayoutGap.gt-md="8px">
        <mat-form-field appearance="standard" fxFlex>
          <mat-label>Localidad</mat-label>
          <mat-select autocomplete="off" formControlName="city">
            <mat-option *ngFor="let city of cities" [value]="city">
              {{ city.name }}
            </mat-option>
          </mat-select>
          <mat-error matErrorMessages></mat-error>
        </mat-form-field>
      </div>
    </ng-container>

    <div fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="start stretch" fxLayoutGap.gt-md="8px">
      <mat-form-field appearance="standard" fxFlex="50%">
        <mat-label>Contraseña</mat-label>
        <input matInput #passwordInput [type]="toggle.type" [formControl]="passwordComponent.passwordFormControl" />
        <mat-pass-toggle-visibility #toggle matSuffix [tabindex]="-1"></mat-pass-toggle-visibility>
        <mat-error matErrorMessages></mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard" fxFlex="50%">
        <mat-label>Confirmación</mat-label>
        <input
          matInput
          #confirmationInput
          [type]="toggle.type"
          [formControl]="passwordComponent.passwordConfirmationFormControl"
          placeholder="Password"
        />
        <mat-error matErrorMessages></mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap.gt-md="8px" class="margin-xs-t">
      <mat-password-strength class="green" fxFlex #passwordComponent [password]="passwordInput.value">
      </mat-password-strength>
      <mat-icon
        class="password-info"
        aria-label="mostrar información de contraseña"
        (click)="showPasswordInfo = !showPasswordInfo"
        >help_outline</mat-icon
      >
    </div>
    <mat-password-strength-info
      *ngIf="showPasswordInfo"
      lowerCaseCriteriaMsg="Al menos una minúscula"
      upperCaseCriteriaMsg="Al menos una mayúscula"
      digitsCriteriaMsg="Al menos un número"
      specialCharsCriteriaMsg="Al menos un caracter especial"
      minCharsCriteriaMsg="Al menos 8 caracteres"
      [passwordComponent]="passwordComponent"
    >
    </mat-password-strength-info>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px" style="margin: 16px 0;">
      <button mat-raised-button color="primary" [disabled]="customerForm.invalid || customerForm.pending">
        ACEPTAR
      </button>
      <button mat-raised-button type="button" (click)="goBack()">
        Volver
      </button>
    </div>
  </div>
</form>
