<div class="order-conditions text-center">
  <h2>¡COMBINALAS COMO QUIERAS!</h2>
  <h3>PEDIDO MINIMO: 2 PIZZAS</h3>
</div>
<nap-order-items-form
  f
  [pizzas]="pizzas$ | async"
  (pizzasQuantityChange)="onPizzasQuantityChange($event)"
></nap-order-items-form>
<div class="margin-sm-t">
  <mat-form-field class="full-width">
    <mat-select
      (selectionChange)="onDeliveryDateSelected($event.value)"
      placeholder="Fecha de entrega"
      class="text-capitalize"
    >
      <mat-option *ngFor="let date of availableDeliveryDates" [value]="date" class="text-capitalize">
        {{ date.format(DATE_FORMAT) }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="order-items-count">
  Pizzas en el pedido: <span *ngIf="order.totalItems">{{ order.totalItems }}</span>
</div>
<div class="order-items-total">
  TOTAL: <span *ngIf="order.totalAmount">${{ order.totalAmount }}</span>
</div>
