.order-conditions {
  margin-bottom: 24px;
  h2 {
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.5px;
  }
  h3 {
    font-size: 20px;
    font-weight: 700;
    color: var(--color-primary);
  }
}

.order-items-count {
  margin: 12px 0;
  font-weight: 700;
  color: var(--color-primary);
}
.order-items-total {
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 700;
}
