:host {
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style-type: none;
      .pizza-name {
        margin-bottom: 2px;
        font-size: 24px;
        font-weight: 700;
        .mat-icon {
          margin-left: 4px;
          font-size: 14px;
          font-weight: 300;
          color: var(--color-accent);
          vertical-align: super;
          cursor: pointer;
        }
      }
      .pizza-price {
        font-weight: 700;
        font-size: 18px;
        color: var(--color-primary);
      }
    }
  }
}
